@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.app {
  display: grid;
  grid-template-rows: 250px 1fr;
  max-width: 750px;
  margin: 0 auto;
}

button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 25px;
  border: 3px solid black;
  box-shadow: 3px 3px 0 black;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}