input, select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  border: 3px solid black;
  border-radius: 0;
  font-size: 18px;
  margin-bottom: 40px;
  padding: 5px 10px;
}
label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
input[type="number"] {
  border: 3px solid black;
  font-size: 18px;
  padding: 5px 10px;
}

.error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form__navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step3__inputs {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  .error {
    margin-left: 0;
    margin-bottom: 25px;
    grid-column: 1 / span 2;
  }
  input {
    min-width: 0;
  }
}