.navigationBar {
  display: flex;
  flex-direction: row;
  margin: auto 0;
  
}
.navigationBar__item {
  margin-right: -3px;
  &[aria-pressed=true] {
    background-color: #9DBBEE;
  }
  &[aria-disabled=true] {
    color: #222;
    cursor: default;
  }
}