.review {
  display: flex;
  flex-direction: column;
  .review__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 50px 1fr;
  }
  .review__meal {
    text-transform: capitalize;
  }
  .review__heading {
    font-weight: 600;
  }
  .review__dishes {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    border: 3px solid black;
    padding: 10px;
  }
  button {
    margin-top: 50px;
    align-self: flex-end;
  }
}